/* home.css */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
@font-face{
    font-family: 'Dosis';
    src: url('Dosis-Book.ttf');
}

/* Nice big title */
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  60px;
}

/* getting the menu list just right */
#menu{
	float: right;
	white-space: nowrap;
    font-family: 'Raleway', sans-serif;
	margin-right: 5%;
}

/* Give the menu a clean look with no underline */
.menuLink:link,.menuLink:visited{
    text-decoration: none;
    color: black;
}

/* on hover, turn menu blue and give it an underline... cuz why not? */
.menuLink:hover,.menuLink:active{
    color: blue;
	text-decoration: underline;
}

/* remove the bulltes from the menu list and give it a nice look */
ul{
    list-style-type: none;
    font-size: x-large;
    line-height: 1.4em;
    text-align: right;
    margin-right: 5%;
	padding-left: 55px;
}

/* Position and adjust the short description of me */
#main{
    font-family: 'Raleway', sans-serif;
    margin-left: 6%;
    font-size: 35px;
    line-height: 130%;
}

#desc{
    width: 30%;
}

/* adjust the image to give the site a feeling of empty fullness */
img{
    clear: both;
    margin-right: 5%;
    float: right;
    width: 50%;
}


/* fun little quote that I quite like. Give it different font */
blockquote{ /* Example of styling that overwrites another effect (overwrites the stuff in #main. Ex: font) */
    font-family: 'Dosis', sans-serif; 
    font-size: 20px;
    margin-top: 20%;
    margin-left:-1%;
    float:left;
    max-width: 25%;
    line-height: normal;
}
